body {
  margin: 0px;
  padding: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23d9d9d9' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.MuiToolbar-root {
  background-color: white;
  height: 75px;
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
}

.nav-options {
  min-width: 250px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-options {
  font-size: 18px;
  font-family: Helvetica;
  font-style: normal;
}
.nav-options a {
  color: black;
  text-decoration: none;
}

.team-member-profile {
  height: 220px;
  width: 260px;
  margin-bottom: 20px;
}

.index-page {
  text-align: center;
}
.index-page img {
  margin-top: 50px;
}
.index-page p {
  width: 280px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.625px;
  color: #000000;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.contact-form-container {
  margin-top: 80px;
  height: 600px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contact-form-container h2 {
  padding-top: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 450;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
}
.contact-form-container form {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  text-align: center;
}
.contact-form-container form .MuiTextField-root {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.contact-form-container form input {
  width: 300px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
}
.contact-form-container form textarea {
  width: 320px;
  height: 100px;
  margin-top: 20px;
  border-radius: 2px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
}
.contact-form-container form .MuiButton-root {
  width: 180px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #FF6400;
}

form > hr {
  width: 100%;
  margin-top: 50px;
  opacity: 0.3;
}

.social-media-handle {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.social-media-handle .fab {
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .contact-form-container {
    width: 400px;
  }
}
.about-page {
  text-align: center;
}
.about-page h1 {
  font-size: 28px;
  text-decoration: underline;
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
